<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cuidadores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input label="Nome" label-placement="floating" fill="solid" placeholder="Nome"></ion-input>
  <ion-input label="Telefone" label-placement="floating" fill="solid" placeholder="Telefone"></ion-input>
  <ion-input label="Experiêancia" label-placement="floating" fill="solid" placeholder="Experiêancia"></ion-input>
  <ion-input label="Especialidade" label-placement="floating" fill="solid" placeholder="Especialidade"></ion-input>
  <ion-button expand="block">Cadastrar</ion-button>
</ion-content>
