<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input label="Nome" label-placement="floating" fill="solid" placeholder="Nome"></ion-input>
  <ion-input label="Espécie" label-placement="floating" fill="solid" placeholder="Espécie"></ion-input>
  <ion-input label="Raça" label-placement="floating" fill="solid" placeholder="Raça"></ion-input>
  <ion-input label="Idade" label-placement="floating" fill="solid" placeholder="Idade" type="number"></ion-input>
  <ion-input label="Observações adicionais" label-placement="floating" fill="solid" placeholder="Observações adicionais"></ion-input>
  <ion-button expand="block">Cadastrar</ion-button>
</ion-content>
